*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.telphone-one{
    text-align: center;
    border: 0.5px solid blue;
    margin-left: 15px;
   margin-right: 15px;
   margin-top: 15px;
   margin-bottom: 15px;
}

.img-one{
    fill :bisque;
}

.img-two {
    fill:blue;
}



img{
    width: 100px;
    
}
h1{
    margin-bottom: 20px;
    margin-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
}


.iphone{
float:left;
width: 20%;
text-align: left;

padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
margin: 32px;
border: 1px solid rgb(206, 206, 238);
}

.iphone_one{
color:rgba(4, 122, 4, 0.911)

}


.iphone_two{
    color: red;
    
    
    }

    .one{
        background-color: blue;
        color: white;
        padding-top: 9px;
        padding-left: 35px;
        padding-bottom: 10px;
        padding-right: 35px;
        margin-bottom: 20px;
        margin-top: 20px;
        border-top-color: blue;
        border-bottom-color: blue;
        border-right-color: blue;
        border-left-color: blue;
             }
    
    .two{
        background-color: white;
        border-top-color: blue;
        border-bottom-color: blue;
        border-right-color: blue;
        border-left-color: blue;
        padding-top: 11px;
        padding-left: 10px;
        padding-bottom: 11px;
        padding-right: 10px;
       margin-bottom: 20px;
       margin-top: 20px;
        
    }
    p{
        width: 100%;
        text-align: left;
        padding-top: 10px;
        padding-left: 3px;
        padding-bottom: 10px;
        padding-right: 3px;

    }
    .test{
        clear :left ;
    }